/* body {
    background-image: url('dish.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100vh;    
} */

.header {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: "Titan One", sans-serif;
    font-size: 40px;
    color: #0f0f0f;
    text-shadow: 2px 2px 4px #ffffff;     
}

.search {
    width: 50%;
    padding: 10px;     
    border: 1px solid #0f0f0f;  
    border-radius: 5px; 
    font-family: "Rubik", sans-serif;  
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    margin-bottom: 30px;
}

button {
    padding: 15px 25px;
    background-color: rgb(24, 119, 24);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Rubik", sans-serif;  
    font-weight: 500;
    font-size: 15px;
}

h2 {
    font-family: "Titan One", sans-serif;
    font-size: 25px;
    color: #0f0f0f; 
    font-weight: lighter;      
}

/* loader */
.lds-heart,
.lds-heart div,
.lds-heart div:after,
.lds-heart div:before {
  box-sizing: border-box;
}
.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 28px;
  left: 28px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: currentColor;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: currentColor;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
/* //loader */