

body {
    background-image: url('dish.avif');    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100vh;    
    background-attachment: fixed;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45); /* затемнение */
  z-index: -1;
}

.header {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: "Titan One", sans-serif;
    font-size: 40px;
    color: #0f0f0f;
    text-shadow: 2px 2px 4px #ffffff;
      text-shadow:
    -1px -1px 0 #fff,
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
     
}

.search {
    width: 50%;
    padding: 10px;     
    border: 1px solid #0f0f0f;  
    border-radius: 5px; 
    font-family: "Rubik", sans-serif;  
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    margin-bottom: 30px;
}

button {
    padding: 15px 25px;
    background-color: rgb(24, 119, 24);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Rubik", sans-serif;  
    font-weight: 500;
    font-size: 15px;
}

.total-nutrients {
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: rgba(219, 228, 216, 0.8);    
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 
      0 8px 15px rgba(0, 0, 0, 0.1),
      0 20px 40px rgba(0, 0, 0, 0.12);  
}

h2 {
    font-family: "Titan One", sans-serif;
    font-size: 25px;
      text-shadow:
    -1px -1px 0 #fff,
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;

    color: #0f0f0f; 
    font-weight: lighter;  
    margin-bottom: 40px;    
}

h3 {
    font-family: "Titan One", sans-serif;
    font-size: 18px;
    color: #0f0f0f; 
    font-weight: lighter;  
    margin-bottom: 40px;    
}

hr {
  color: rgb(218, 218, 218);
  width: 60%;
  border: 1.5px solid;
  margin-top: 30px;
  margin-bottom: 30px;
}

.total-information {
    display: flex;    
    justify-content: space-evenly;    
    font-family: "Rubik", sans-serif;
    color: #0f0f0f;      
}

p {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 400;
  font-size: 18px;  
}

.quantity {
  font-weight: 600;
  font-size: 32px;
}

.each-ingr {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;     
}

.nutrient-item { 
  width: 300px;
    border: 1px solid #0f0f0f;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 20px;
    font-family: "Rubik", sans-serif;  
    color: #0f0f0f; 
    background-color: rgba(219, 228, 216, 0.8); 
    box-shadow: 
      0 8px 15px rgba(0, 0, 0, 0.1),
      0 20px 40px rgba(0, 0, 0, 0.12);    
}



/* loader */
.lds-heart,
.lds-heart div,
.lds-heart div:after,
.lds-heart div:before {
  box-sizing: border-box;
}
.lds-heart {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
  margin-left: 50%;
  margin-top: 150px;
}
.lds-heart div {
  top: 28px;
  left: 28px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: currentColor;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: currentColor;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
/* //loader */